<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889383707344-dki7frs0fipa020n7rda2pg7jssctegu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889383707344-dki7frs0fipa020n7rda2pg7jssctegu</string>
	<key>API_KEY</key>
	<string>AIzaSyCz6AIYSqEheaqnD9E1xg9-Y-2CnAZ_rbk</string>
	<key>GCM_SENDER_ID</key>
	<string>889383707344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptaller</string>
	<key>PROJECT_ID</key>
	<string>appnotas-e4ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>appnotas-e4ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889383707344:ios:f60e01297ae4fb19a574d5</string>
</dict>
</plist>